section{
	float:left;
	width:66%;
	}
p{
	background-color: #9cd3a5;
	border-radius:8px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right:5px;
}

.logo{
	width:25px;
	height:25px;
}

h3{
	text-align:center;
	background-color: #aec3e5;
	border-radius:8px;
	padding-top:10px;
	padding-bottom:10px;
}
aside {
	float:right;
	width:33%;
	display:block;
}
img{
	border-radius: 10%;
}

h1{
	text-align:center;
	background-color:#41e0a0 ;
	display:block;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius:8px;
}
